{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<div class="container">
    <h1 class="text-center mt-5">{{ app.user.firstname | capitalize}}, mon espace recruteur</h1>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3">
        <section class="userInfo mt-5 mb-5">
            <h2>Mes informations</h2>
            {% if app.user.isValid == false %}
                <p class="invalidMsg">Votre compte n'a pas encore été validé</p>
            {% elseif app.user.isValid == true %}
                <p class="validMsg">Votre compte a été validé</p>
                <p>Nom: {{ app.user.firstname | capitalize }}</p>
                <p>Prénom: {{ app.user.lastname | capitalize }}</p>
                <p>Mon email: {{ app.user.email }}</p>
                <p>Nom de l'entreprise: {{ app.user.companyName | capitalize }}</p>
                <p>Adresse de l'entreprise: {{ app.user.companyAddress }}</p>
            {% endif %}
            
            {% if app.user.isValid == true %}
                <a href="{{ path('app_recruiter_edit', {'id': app.user.id}) }}">Modifier/Ajouter des informations</a>
            {% endif %}
        </section>

        <section class=" mt-5 mb-5">
            <h2>Offres d'emploi</h2>
            {% if app.user.isValid == false %}
                <p class="invalidMsg">Votre compte n'a pas encore été validé</p>
            {% elseif app.user.isValid == true %}
                <a href="{{ path('app_joboffer_index') }}">Consulter la liste des offres d'emploi</a>
                <br>
                <a href="{{ path('app_joboffer_new', {'idRecruiter': app.user.id}) }}">Ajouter une offre d'emploi</a>
            {% endif %}
        </section>

        <section class="mt-5 mb-5">
            <h2>Les candidatures</h2>
             {% if app.user.isValid == false %}
                <p class="invalidMsg">Votre compte n'a pas encore été validé</p>
            {% elseif app.user.isValid == true %}
                <a href="{{ path('app_recruiter_candidacies') }}">Consulter les candidatures</a>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
